@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

body {
  font-family: "Ruluko", sans-serif;
  margin: 0px auto;
  text-align: center;
  width: 40rem;
}

.App {
  text-align: center;
  margin-top: 5rem;
  padding: 4rem;
  background-color: rgba(112, 128, 144, 0.678);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  margin: 50px 0px;
}

/* Stil für das Logo */
#logoImg {
  width: 100px;
  margin-bottom: 10px;
  height: 100px;
  border-radius: 20px;
}

/* Stil für den Titel */
#title {
  color: #d6c957;
  background-color: #fffbc9;
  border-radius: 5px;
  font-family: "Oleo Script", cursive;
  font-size: 50px;
  margin: 0;
}

/* Stil für das Konto */
.konto {
  color: #6b3e26;
  background-color: #fffbc9;
  border: 1px solid #fbec5d;
  border-radius: 15px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

/* Stil für den Saldo */
.saldo {
  background-color: #fbec5d;
  color: #282c34;
  border: 1px solid #fbec5d;
  border-radius: 15px;
  font-family: "Ruluko", sans-serif;
  font-size: 35px;
  margin: 5px;
  padding: 25px 0px;
}

/* Stil für den Geldbetrag */
.geldbetrag {
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 0.25rem;
  min-width: 12rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
  outline: none;
}

/* Stil für den Button zum Einzahlen und Auszahlen */
.auszahlen,
.einzahlen {
  margin: 5px;
  padding: 10px 20px;
  background-color: #fddb4d;
  color: #282c34;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.auszahlen:hover,
.einzahlen:hover {
  background-color: #ffed9d;
  transform: scale(1.05);
}

.auszahlen:active,
.einzahlen:active {
  background-color: #fddb4d;
  transform: scale(0.95);
}
